.sideBox {
  position: absolute;
  height: 50%;
  width: 10%;
  top: 25%;
  right: 3%;
  /* background-color: rgba(0, 0, 0, 0.3); */
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: space-between;
  border: 2px soild blue;
}

.playPauseWrapper {
  margin-left: 5px;
}

.playIcon {
  font-size: 25px;
}

.likesCount {
  /* color: #000; */
  color: #ff4f00;
  font-size: small;
  margin-left: 4px;
}

.profilePicWrapper {
  height: 50px;
  width: 50px;
  margin-left: -10px;
  margin-bottom: 10px;
  position: relative;
}

.profilepic {
  border-radius: 50%;
}

.followBtn {
  position: absolute;
  top: 35px;
  left: 15px;
}

/* svg {
      fill: "red";
    } */
