.nav--header {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.logo {
  height: 60px;
  width: auto;
  /* float: left; */
  margin: 5px 20px;
  /* border: 1px solid orange; */
}

/* Main navi */

.main-nav {
  list-style: none;
  margin: 20px;
  /* border: 1px solid blue; */
}

.main-nav li {
  /* by default all the li elemetns are block level elements and we want to display them
    side by side therefore change them to inline-block
    */
  display: inline-block;
  /* for small margins and padding we can use px */
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  /* our base font size is 20 pixels and let's

say you want it to be 18 pixels.

But as I said before, we will never use the unit in pixels.

We want it to be 18 pixels, but expressed in percentage. */
  font-size: 90%;
  /* we dont wan to see this border when not hovered (but it still have to exist) so give it border transparent */
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.watchVideo {
  background-color: #e67e22;
  padding: 8px;
}

/* hover effect on active state */

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid black;
}

.main-heading {
  /* max-width: 90%; */

  margin: 0 auto;
  background-color: #f4f4f4;
}
