.playerWrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  border: 2px solid red;
  min-width: 50%;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
  /* max-width: 50%; */
  border: 2px solid blue;
}
